doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    link(rel='icon', href='/assets/img/logo.png', type='image/x-icon')
    script.
      AOS.init();
    title signHUB | Connecting the world through SIGN
  body
    .container-outer
      include shared/header.pug
      block content

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')