extends ../layout

block content
  .content-wrapper
    .leaderboard-header
      img.leaderboard-img(src='../assets/img/leaderboard.png')
      .leaderboard-desc
        .leaderboard-title
          | Leaderboard
        .leaderboard-subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          br
          | incididunt ut labore et dolore magna aliqua.
    .leaderboard-content
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-item Rank
        .leaderboard-item Name
        .leaderboard-item Accuracy
        .leaderboard-item Point
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-rank #1
        .leaderboard-name Fariz Wakan
        .leaderboard-accuracy 90%
        .leaderboard-point 1050 pts
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-rank #2
        .leaderboard-name Riandi Rmdhn
        .leaderboard-accuracy 75%
        .leaderboard-point 995 pts
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-rank #3
        .leaderboard-name Gardahadi G.
        .leaderboard-accuracy 80%
        .leaderboard-point 780 pts
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-rank #4
        .leaderboard-name Ardy Haroen
        .leaderboard-accuracy 65%
        .leaderboard-point 565 pts
      hr.leaderboard-hr
      .leaderboard-items
        .leaderboard-rank #5
        .leaderboard-name Satrio Fakhrie
        .leaderboard-accuracy 60%
        .leaderboard-point 445 pts
      hr.leaderboard-hr