extends ../layout

block content
  .content-wrapper
    .back-button
      a.back-text(href='/')
        i.fa.fa-angle-left
        |             Back
    .learn-wrapper
      .learn-col
        a(href='A') A
      .learn-col
        a(href='B') B
      .learn-col
        a(href='C') C
      .learn-col
        a(href='D') D
      .learn-col
        a(href='E') E
      .learn-col F
      .learn-col G
      .learn-col H
      .learn-col I
      .learn-col J
      .learn-col K
      .learn-col L
      .learn-col M
      .learn-col N
      .learn-col
        a(href='O') O
      .learn-col P
      .learn-col Q
      .learn-col R
      .learn-col S
      .learn-col T
      .learn-col
        a(href='U') U
      .learn-col
        a(href='V') V
      .learn-col
        a(href='W') W
      .learn-col X
      .learn-col Y
      .learn-col Z