extends ../layout

block content
  .content-wrapper
    .back-button
      a.back-text(href='/')
        i.fa.fa-angle-left
        |             Back
    .thread-title
      | What's up ?
    .thread-subtitle
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      br
      | eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .thread-item
      img.thread-item-img(src='/assets/img/man.png')
      .thread-item-desc
        p.thread-item-title Mengapa Selalu Aku yang Mengalah?
        p.thread-item-subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea threadodo consequat. 
          b Read More
        .field.is-grouped.button-group
          .button.like-button
            i.fa.fa-heart
            |                   LIKE
          .button.reply-button
            i.fa.fa-reply
            |                   REPLY
          .button.share-button
            i.fa.fa-share
            |                   SHARE
    .thread-item
      img.thread-item-img(src='/assets/img/woman.png')
      .thread-item-desc
        p.thread-item-title Harusnya Aku Yang di Sana, Dampingimu dan Bukan Dia
        p.thread-item-subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea threadodo consequat. 
          b Read More
        .field.is-grouped.button-group
          .button.like-button
            i.fa.fa-heart
            |                   LIKE
          .button.reply-button
            i.fa.fa-reply
            |                   REPLY
          .button.share-button
            i.fa.fa-share
            |                   SHARE
    .thread-item
      img.thread-item-img(src='/assets/img/boy.png')
      .thread-item-desc
        p.thread-item-title Pergi Pagi Pulang Pagi
        p.thread-item-subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea threadodo consequat. 
          b Read More
        .field.is-grouped.button-group
          .button.like-button
            i.fa.fa-heart
            |                   LIKE
          .button.reply-button
            i.fa.fa-reply
            |                   REPLY
          .button.share-button
            i.fa.fa-share
            |                   SHARE